@using System.Globalization;
@inject ILanguageContainerService languageContainer
<h2>selector:</h2>
 <select @onclick="() => OnDropdownClick(SelectedValue)" @bind="@SelectedValue">
    @foreach (var culture in cultures)
    {
       <option value="@culture">@culture.DisplayName</option>
    }
   </select>

@code {
    [Inject]
    public IJSRuntime JSRuntime { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("ShowAlertWindow");
    }
    public async Task ShowAlertWindow()
    {
        await JSRuntime.InvokeVoidAsync("ShowAlertWindow");
    }

    public string SelectedValue { get; set; } = "en-US";
    CultureInfo[] cultures = new[]
    {
            new CultureInfo("en-US"),
            new CultureInfo("fr-FR"),
            new CultureInfo("bg-BG"),
            new CultureInfo("ja-JP"),
    };

    public void OnDropdownClick(string selectedValue)
    {
        languageContainer.SetLanguage(System.Globalization.CultureInfo.GetCultureInfo(selectedValue));
    }
}
